extends layout

block content
    div.jumbotron
        div.container  
            h1 #{title}
            p
                br
            p TODO
            p For more details, please visit to:
            p
                a.btn.btn-primary.btn-lg(href='http://adsl.snu.ac.kr/') ADS@SNU
    div.container
        p
            | TODO        
        p This version currently supports the following features:
        div.row
            div.col-lg-3
                h3 MARG week trend
                p MARG week trend
                p
                    a.btn.btn-default(href='/marg_weektrend') Go >>
                p
                                div.col-lg-3
                h3 MARG week trend 2
                p MARG week trend (breakdown)
                p
                    a.btn.btn-default(href='/marg_weektrend_breakdown') Go >>
                p
                                div.col-lg-3
                h3 MARG day trend
                p MARG day trend 
                p
                    a.btn.btn-default(href='/marg_daytrend') Go >>
                p
                                div.col-lg-3
                h3 MARG real-time
                p MARG realtime feedback (total only)
                p
                    a.btn.btn-default(href='/marg_realtime') Go >>
                p
                                div.col-lg-3
                h3 MARG real-time 2
                p MARG realtime feedback (breakdown)
                p 
                    a.btn.btn-default(href='/marg_realtime_breakdown') Go >>
                h3 MARG daily flow
                p MARG 
                p 
                    a.btn.btn-default(href='/daily_flow') Go >>
            div.col-lg-3
                h3 HCC week trend 2
                p HCC week trend (breakdown)
                p
                    a.btn.btn-default(href='/hcc_weektrend_breakdown') Go >>
                p
                                div.col-lg-3
                h3 HCC real-time
                p HCC realtime feedback (total only)
                p 
                    a.btn.btn-default(href='/hcc_realtime') Go >>
                                div.col-lg-3
                h3 HCC real-time 2
                p HCC realtime feedback (breakdown)
                p 
                    a.btn.btn-default(href='/hcc_realtime_breakdown') Go >>
                                div.col-lg-3
            div.col-lg-3
                h3 UX week trend 2
                p UX week trend (breakdown)
                p
                    a.btn.btn-default(href='/ux_weektrend_breakdown') Go >>
                p
                                div.col-lg-3
                h3 UX real-time
                p UX realtime feedback (total only)
                p 
                    a.btn.btn-default(href='/ux_realtime') Go >>
                                div.col-lg-3
                h3 UX real-time 2
                p UX realtime feedback (breakdown)
                p 
                    a.btn.btn-default(href='/ux_realtime_breakdown') Go >>
                                div.col-lg-3
            div.col-lg-3
                h3 REST API documentation
                p It shows how to use the open API. 
                p
                    a.btn.btn-default(href='/apidoc/index.html') See details >>
        hr
        footer Copyright (C)Applied Data Science Lab.@SNU. This work is licensed under version 3.0 of the Creative Commons CC-BY license.
