extends layout

block content
    div.jumbotron
        div.container  
            h1 #{title}
            p
                br
            p TODO
            p For more details, please visit to:
            p
                a.btn.btn-primary.btn-lg(href='http://adsl.snu.ac.kr/') ADS@SNU
    div.container
        p
            | TODO        
        p This version currently supports the following features:
        div.row
            div.col-lg-4
                h2 MARG real-time
                p MARG realtime feedback (total only)
                p
                    a.btn.btn-default(href='/marg_realtime') Go >>
                p
                                div.col-lg-4
                h2 MARG real-time 2
                p MARG realtime feedback (breakdown)
                p 
                    a.btn.btn-default(href='/marg_realtime_detail') Go >>
            div.col-lg-4
                h2 HCC real-time
                p HCC realtime feedback (total only)
                p 
                    a.btn.btn-default(href='/hcc_realtime') Go >>
                                div.col-lg-4
                h2 HCC real-time 2
                p HCC realtime feedback (breakdown)
                p 
                    a.btn.btn-default(href='/hcc_realtime_detail') Go >>
                                div.col-lg-4
            div.col-lg-4
                h2 UX real-time
                p UX realtime feedback (total only)
                p 
                    a.btn.btn-default(href='/ux_realtime') Go >>
                                div.col-lg-4
                h2 UX real-time 2
                p UX realtime feedback (breakdown)
                p 
                    a.btn.btn-default(href='/ux_realtime_detail') Go >>
                                div.col-lg-4
            div.col-lg-4
                h2 REST API documentation
                p It shows how to use the open API. 
                p
                    a.btn.btn-default(href='/apidoc/index.html') See details >>
        hr
        footer Copyright (C)Applied Data Science Lab.@SNU. This work is licensed under version 3.0 of the Creative Commons CC-BY license.
