extends layout

block content
    div.jumbotron
        div.container  
            h1 #{title}
            p
                br
            p TODO
            p For more details, please visit to:
            p
                a.btn.btn-primary.btn-lg(href='http://adsl.snu.ac.kr/') ADS@SNU
    div.container
        p
            | TODO        
        p This version currently supports the following features:
        div.row
            div.col-lg-4
                h2 1st DEMO
                p this DEMO page shows 1 day usages for all laboratories
                p
                    a.btn.btn-default(href='/daily') Go >>
                                div.col-lg-4
                h2 2nd DEMO
                p this DEMO page shows several days' usage flows for MARG laboratory
                p
                    a.btn.btn-default(href='/daily_flow') Go >>
                                div.col-lg-4
                h2 3rd DEMO
                p this DEMO page shows ... usage flows ... MARG
                p
                    a.btn.btn-default(href='/beyond_extremes') Go >>
                                div.col-lg-4
                h2 4th DEMO
                p this DEMO page shows ... live usage ... MARG
                p
                    a.btn.btn-default(href='/live') Go >>
                                div.col-lg-4
            div.col-lg-4
                h2 REST API documentation
                p It shows how to use the open API. 
                p
                    a.btn.btn-default(href='/apidoc/index.html') See details >>
        hr
        footer Copyright (C)Applied Data Science Lab.@SNU. This work is licensed under version 3.0 of the Creative Commons CC-BY license.
