doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet" type="text/css" href="stylesheets/highslide.css")
    link(href='stylesheets/bootstrap.min.css' rel='stylesheet' media='screen')

    script(src='javascripts/lib/jquery.js')
    script(src='javascripts/lib/bootstrap.min.js')
    script(src='javascripts/lib/holder.js')    
  body
    div.navbar.navbar-inverse.navbar-fixed-top
        div.container
            div.navbar-header
                button.navbar-toggle(type='button' data-toggle='collapse' data-target='.navbar-collapse')
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand #{title}
            div.navbar-collapse.collapse
                ul.nav.navbar-nav
                    li: a(href='/') Home
                    li: a(href='/marg_dashboard.html') MARG Dashboard
                    li: a(href='/ux_dashboard.html') UX Dashboard
                    li: a(href='/hcc_dashboard.html') HCC Dashboard

    block content
