extends layout

block content
    
    h1 전력 사용량 월간 비교
    
    h2#date #{date}
    div#marg_saving_points(style='min-width: 310px; height: 1000px; margin: 0 auto')

    script(src='http://code.highcharts.com/highcharts.js')
    script(src='http://code.highcharts.com/modules/exporting.js')

    script(src='javascripts/api.js')
    script(src='javascripts/utiles.js')
    script(src='javascripts/marg_saving_points.js')
