@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-family: 'Nanum Gothic', sans-serif;
}

a {
  color: #00B7FF;
}

.jumbotron {
    background-image: url(../images/cover.jpg);
    background-position: right center;
    background-size: auto;
    background-repeat: no-repeat;
    color: #808080;
    text-shadow: black 0.1em 0.1em 0.1em;
}

.jumbotron h1 {
    color:#033a70;
    text-shadow: #808080 0.1em 0.1em 0.1em;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

#loading {
    position:absolute;
    top:50%;
    left:50%;
    overflow:hidden;
    vertical-align:middle;
}
.title_class {
  width: 1920px;
  height: 30px;
  /*background-color: #424242;*/
}
.wrapper_class {
  width: 1900px;
  height: 800px;
  padding-top: 10px;
  float: left;
}

.class_contents_left {
  float: left;
  clear: both;
  width: 500px;
  height: 960px;
}
.class_smile {
  width: 500px;
  height: 30px;
  padding-top: 10px;
  padding-right: 10px;

}
.class_smile_title {
  /*display: inline;*/
  color: white;
  text-align: center;
  font-size: 130%;
}
.class_smile_title_span {
  background-color: #8E8989;
  border-radius: 6px;
  border: 4px solid #8E8989;
  padding-top: 3px;
  padding-bottom: 3px;
}
.traffic_light_class {
  width: 500px;
  height: 500px;
  float: left;
  clear: none;
  background-color: #ecede7;
  /*position: absolute;
  bottom: 0;*/
}
.class_smiley {
  width: 500px;
  padding-top: 30px;
}
.class_axis {
  position: absolute;
  top: 430px;
}
.class_realtimePlots {
  float: left;
  clear: both;
  width: 500px;
  height: 450px;
  padding-top: 20px;
  background-color: #ecede7;
}
.class_meter {
  float: left;
  clear: none;
  width: 500px;
  height: 380px;
  background-color: #ecede7;
}
.percentage_title_class {
  float: center;
  text-align: center;
  padding-top: 35px;
}

.center {
  float: left;
  clear: none;
  width: 980px;
  height: 960px;
  padding-left: 20px;
  padding-right: 20px;
}
.class_week {
  float: left;
  clear: none;
  width: 980px;
  height: 480px;
  padding-left: 10px;
}
.class_breakdown_info{
  float: left;
  clear: both;
  width: 230px;
  height: 420px;
  padding-left: 0px;
  background-color: #f9f3e8;
}
.class_day {
  float: left;
  clear: both;
  width: 980px;
  height: 420px;
  padding-left: 10px;
}
.class_day2 {
  /*float: left;
  clear: both;
  width: 980px;
  height: 420px;
  padding-left: 10px;*/
  float: left;
  clear: none;
  width: 740px;
  height: 420px;
}
.arrow_class {
  float: left;
  clear: both;
  width: 980px;
  height: 50px;
  padding-left: 10px;
}

.class_tip {
  float: left;
  clear: none;
  width: 1910px;
  height: 100px;
  background-image: url('../images/tip_long.png');
  background-color: gray;
  position: absolute;
  bottom: 0;
}
.class_widgets {
  float: right;
  clear: none;
  width: 370px;
  height: 960px;
}
.class_month {
  float: left;
  clear: both;
  width: 390px;
  height: 460px;
  padding-top: 20px;
  position: absolute;
  bottom: 90px;
  right: 10px;
  /*float: bottom;*/
}
.weather_class {
  width: 390px;
  height: 100px;
  padding-top: 20px;
  /*padding-bottom: 10px;*/
}
.class_notice {
  width: 370px;
  height: 350px;
  /*background-image: url('../images/notice.png');*/
  /*background-color: #8E8989;*/
  border-radius: 6px;
  border: 4px solid #E5E5E5;
  /*padding-right: 20px;*/
}



/*clock*/

.container {width: 390px; margin: 0 auto; overflow: hidden; }

.clock {
  width:390px;
  margin:0 auto;
  padding-top: 20px;
  color:#303030;
}

#Date { font-family:'BebasNeueRegular', Arial, Helvetica, sans-serif; font-size:20px; text-align:center;  }/*text-shadow:0 0 5px #00c6ff;*/

ul { width:390px; margin:0 auto; padding:0px; list-style:none; text-align:center; }
ul li { display:inline; font-size:40px; text-align:center; font-family:'BebasNeueRegular', Arial, Helvetica, sans-serif;  }/*text-shadow:0 0 5px #D3D3D3;*/

#point { position:relative; -moz-animation:mymove 1s ease infinite; -webkit-animation:mymove 1s ease infinite; padding-left:10px; padding-right:10px; }

@-webkit-keyframes mymove
{
0% {opacity:1.0; text-shadow:0 0 10px #00c6ff;}
50% {opacity:0; text-shadow:none; }
100% {opacity:1.0; text-shadow:0 0 10px #00c6ff; }
}


@-moz-keyframes mymove
{
0% {opacity:1.0; text-shadow:0 0 10px #D3D3D3;}
50% {opacity:0; text-shadow:none; }
100% {opacity:1.0; text-shadow:0 0 10px #D3D3D3; }
}
