@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-family: 'Nanum Gothic', sans-serif;
}

a {
  color: #00B7FF;
}

.jumbotron {
    background-image: url(../images/cover.jpg);
    background-position: right center;
    background-size: auto;
    background-repeat: no-repeat;
    color: #808080;
    text-shadow: black 0.1em 0.1em 0.1em;
}

.jumbotron h1 {
    color:#033a70;
    text-shadow: #808080 0.1em 0.1em 0.1em;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

#loading {
    position:absolute;
    top:50%;
    left:50%;
    overflow:hidden;
    vertical-align:middle;
}
.title_class {
  width: 1900px;
  height: 80px;
  background-color: #369000;
  padding-top: 15px;
}
.wrapper_class {
  width: 1900px;
  height: 800px;
  padding-top: 10px;
  float: left;
}
.marg_class_contents_left {
  float: left;
  clear: both;
  width: 1500px;
  height: 800px;
}
.marg_class_widgets {
  /*float: right;
  clear: none;
  width: 390px;
  height: 800px;*/
  float: right;
  clear: none;
  width: 390px;
  height: 960px;
}
/*before add gauge
.marg_class_month {
  float: left;
  clear: both;
  width: 400px;
  height: 790px;
}*/
.marg_class_month {
  float: left;
  clear: both;
  width: 500px;
  height: 420px;
}
/*.marg_class_contents_left_week_day {
  float: left;
  clear: none;
  width: 800px;
  height: 500px;
}*/
/*before add gauge*/
/*.marg_class_contents_left_top {
  float: left;
  clear: none;
  width: 1510px;
  height: 600px;
}*/
.marg_class_contents_left_top {
  float: left;
  clear: none;
  width: 1510px;
  height: 425px;
}
/*before add gauge
.marg_class_week {
  float: left;
  clear: none;
  width: 1070px;
  height: 270px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
}*/
.marg_class_week {
  float: left;
  clear: none;
  width: 1000px;
  height: 435px;
  /*padding-right: 20px;*/

}
.marg_class_day {
  float: right;
  clear: none;
  width: 1000px;
  height: 420px;
}
/*before add gauge
.marg_class_realtime {
  float: left;
  clear: none;
  width: 1070px;
  height: 210px;
  padding-top: 10px;
  padding-right: 20px;
}*/
.marg_class_realtimePlots {
  float: left;
  clear: none;
  width: 500px;
  height: 400px;

}
.marg_class_meter {
  float: left;
  clear: none;
  width: 500px;
  height: 380px;
  /*background-color: red;*/
}
/*.marg_class_realtime {
  float: left;
  clear: none;
  width: 500px;
  height: 100px;
  padding-left: 20px;
  padding-right: 20px;
}*/
/*before add gauge
.marg_class_tip {
  float: left;
  clear: both;
  width: 1510px;
  height: 100px;
  background-image: url('../images/tip2.png');
  background-color: gray;
  position: absolute;
  bottom: 0;
  padding-bottom: 0px;
}*/
.marg_class_tip {
  float: left;
  clear: none;
  width: 1900px;
  height: 100px;
  background-image: url('../images/tip2.png');
  background-color: gray;
  position: absolute;
  bottom: 0;
  padding-bottom: 0px;
}
.marg_class_notice {
  width: 390px;
  height: 500px;
  background-image: url('../images/notice.png');
}
.marg_class_smile {
  width: 390px;
  height: 30px;
  padding-top: 10px;
  padding-right: 10px;

}
.traffic_light_class {
  width: 390px;
  height: 400px;
  position: absolute;
  bottom: 0;
}
.marg_class_smiley {
  padding-left: 70px;
  position: absolute;
  bottom: 0;
}

/*        weather         */
table {
    font-size: inherit;
    border: 1px solid #c8c8c8;
}

th {
    background: #d8d8d8;
    text-align: left;
    padding: 5px;
    white-space: nowrap;
}

td {
    background: #f8f8f8;
    text-align: left;
    padding: 5px;
    vertical-align: top;
}

select, input, textarea {
    font: 80% "Trebuchet MS", Trebuchet, Tahoma, Verdana, Arial, sans-serif;
}

pre, code, tt, dt {
    font: 100% monospace;
    margin: 20px 0;
}

pre, blockquote {
    padding: 15px;
    background-color: #f0f0f0;
    margin: 20px 0;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

td pre {
    font: 85% monospace;
    padding: 5px;
    margin: 5px 0;
}
